[Unit]
Description=Hypercorn server
After=network.target

[Service]
User={{hypercorn__user}}
# access-log and error-log won't work before hypercorn > 0.2.4
# cf https://gitlab.com/pgjones/hypercorn/commit/cc53383612ede10fb484aec2ab807a6109709fc1
# in the meantime use journalctl -u hypercorn
ExecStart={{hypercorn__binary}} {{hypercorn__app}} -b {{hypercorn__bind_host}}:{{hypercorn__bind_port}} -k {{hypercorn__workers}} --access-log {{hypercorn__access_log}} --error-log {{hypercorn__error_log}}
Environment=CSVAPI_CONFIG_FILE={{ csvapi__config }}
LimitNOFILE={{hypercorn__limit_no_file }}

[Install]
WantedBy=multi-user.target
